body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/bg.png');
  background-size: 100vw 100vh;
}
.container{
  width: 300px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  background-color: #ffffff69;
  border: 3px solid #ee2a35;
  border-radius: 50px;
  row-gap: 10px;
}
.container .result{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 294px;
  height: 64px;
  background-color: #fff;
  border: 3px solid #ee2a35;
  border-radius: 25px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  font: normal normal 800 25px/normal sans-serif;
  padding: 5px 12px 0;
  overflow-x: auto;
  color: #ee2a35;
}
.container .items-container{
  display: flex;
  flex-direction: row-reverse;
  column-gap: 10px;    
}
.container .items-container .operators-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container .items-container .operators-container div{
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 3px solid #ee2a35;
  border-radius: 25px;
  cursor: pointer;
}
.container .items-container .bottom-side{
  position: relative;
}
.container .items-container .bottom-side .numbers-container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 10px;
  gap: 5px;
}
.container .items-container .bottom-side .numbers-container div{
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal 800 25px/normal sans-serif;
  background-color: #fff;
  border: 3px solid #ee2a35;
  color: #ee2a35;
  border-radius: 25px;
  cursor: pointer;
}
.container .items-container .bottom-side .equal{
  position: absolute;
  width: 294px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 3px solid #ee2a35;
  border-radius: 25px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  cursor: pointer;
}
