.container{
  width: 280px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  background-color: rgb(255, 102, 0);
}
.container .result{
  display: flex;
  align-item: center;
  width: 254px;
  height: 64px;
  background-color: #fff;
  font: normal normal 800 25px/normal sans-serif;
  border: 3px solid rgb(255, 102, 0);
  padding: 0 12px;
  overflow-x: auto;
}
.container .items-container{
    display: flex;
    flex-direction: row-reverse;
}
.container .items-container .operators-container div{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border: 3px solid rgb(255, 102, 0);
}
.container .items-container .bottom-side{
    position: relative;
}
.container .items-container .bottom-side .numbers-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.container .items-container .bottom-side .numbers-container div{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal 800 25px/normal sans-serif;
    background-color: yellow;
    border: 3px solid rgb(255, 102, 0);
}
.container .items-container .bottom-side .equal{
    position: absolute;
    width: 274px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border: 3px solid rgb(250, 102, 0);
}
